*{
    text-decoration: none;
    color:rgb(19, 19, 19);

}

body{
    font-family: 'Alata', sans-serif;
}

h1{
    font-size: 1.8em;
}

h2{
    font-size: 1.5em;
}

/*begin of header section*/

header{
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em 3em;
}

header nav{
    display: flex;
    gap: 1.5em;
}

header ul{
    display:flex;
}

header li{
    padding: 0.4em;
}

header li:hover{
    background-color: #dadada;
}

.label-menu, .checkbox{
    display: none;
}
/*end of header section*/

/*begin of first section*/

#first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 1em;
    background: #F3F3F3;
    gap: 10em;
}

#first-section img{
    border-radius: 50%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#first-section article{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 1.3em;
}

/*end of first section*/

/*begin of second section*/

#second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0em;
    gap: 4em;
    flex-wrap: wrap;
    margin-bottom: 0.2em;   
}


.cards-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}



.card{
    height: 8em;
    width: 6em;
    border-radius: 5px;
    background: #DFDFDF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: bottom;
}

.card:hover{
    transform: scale(1.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 1;
}

.card h6{
    position: relative;
    top: 70%;
    background-color: #c4c4c4d9;
    border-radius: 2px;
    font-size: 1.0em;
    margin:auto;
    width: 70%;
    padding: 0.1em 0.1em;
}

.top-three{
    top: 40%;
}

#hobbies-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5em;
}

#movies-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

#card-music{
    background-image: url(../assets/list-icons/musicicon.jpg);
    background-size: cover;
    background-position: -7em;
}
#card-football{
    background-image: url(../assets/list-icons/footballicon.webp);
    background-size: cover;
    background-position: center;
}
#card-reading{
    background-image: url(../assets/list-icons/readingicon.jpg);
    background-size: cover;
}
#card-learning{
    background-image: url(../assets/list-icons/cinemaicon.jpg);
    background-size: cover;
    background-position: center;
}

#card-cinema{
    background-image: url(../assets/list-icons/learningicon.jpg);
    background-size: cover;
    background-position: center;
}
#card-movie-1{
    background-image: url(../assets/list-icons/labyrinthcover.jpg);
    background-size: cover;
}

#card-movie-1 h6{
    top: 50%;
}

#card-movie-2{
    background-image: url(../assets/list-icons/sevencover.jpg);
    background-size: cover;
    background-position: center;
}
#card-movie-2 h6{
    top: 50%;
}
#card-movie-3{
    background-image: url(../assets/list-icons/shutterilslandcover.jpg);
    background-size: cover;
    background-position: center;
}
#card-movie-3 h6{
    top: 40%;
}
#card-movie-4{
    background-image: url(../assets/list-icons/thewailingcover.jpeg);
    background-size: cover;
    background-position: center;
}
#card-movie-5{
    background-image: url(../assets/list-icons/madeocover.jpg);
    background-size: cover;
    background-position: center;
}
.rank{
    position: relative;
    left: 0.5em;
    width: 1.2em;
    height: 2.3em;
    border-radius: 0px 0px 5px 5px;
    background: #afafafc8;
}

.rank span{
    position: relative;
    top: 25%
}

/*end of second section*/

/*begin of footer section*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.0em 1.0em;
    background-color: #C4C4C4;
    flex-wrap: wrap;
    gap: 1em;
    height: 100%;
}

footer #social-media-links{
    display: flex;
    gap: 1.5em;
    height: 100%;
}

footer #contact-button{
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 5px;
    background: #DFDFDF;
}

#contact-button:hover{
    border: solid white 1px;
}

@media(max-width: 450px){
    #hobbies-list{
        align-items: flex-start;
    }
    #hobbies-list h2{
        padding-left: 1em;
    }
    #movies-list h2{
        padding-left: 1em;
    }

    footer{
        flex-direction: column-reverse;
    }

    .menu {
        display: none;
        position: absolute;
        top: 8%;
        right: 4%;
    }

    .checkbox:checked ~ .menu{
        display: block;
    }
    
    header li{
        background-color: #C4C4C4;
        padding: 1em 2em;
    }

    .label-menu{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hamburguer{
        border-top: 0.125rem solid;
        width: 1.50rem;
    }

    .hamburguer::before, .hamburguer::after{
        content: " ";
        display: block;
        width: 1.50rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
    }
}